body {
    background-color: var(--syellow);
}
@font-face {
    font-family: yekan;
    src: url(../assets/fonts/Yekan.ttf) format('truetype');
}
.yekan {
    font-family: yekan;
}

@font-face {
    font-family: main-font;
    src: url(../assets/fonts/KalamehWeb_Black.woff2);
    src: url(../assets/fonts/KalamehWeb_Bold.woff2);
    src: url(../assets/fonts/KalamehWeb_Regular.woff2);
    src: url(../assets/fonts/KalamehWeb_thin.woff2);
    font-weight: bold;
}

* {
    font-family: main-font;
}
/* start header section  */
a {
    text-decoration: none;
    color: var(--sblack);
    font-size: x-large;
}
li {
    list-style: none;
    
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;   
}
/* start header section  */
/* start navbar section */
.navbar {
    display: flex;
    justify-content: space-between;

    

}
.list-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin-top: 40px;

}
.navbar-logo {
    display: flex;
    width: 400px;
    
    
}
.brand-name {
    margin-top: 35px;
    margin-right: 140px;
    background-color: var(--sred);
    border-radius: 20px;
    width: 300px;
    text-align: center;
    color: aliceblue;
    height: 60px;
    line-height: 65px;
}
.navbar-logo-image {
    z-index: 1000px;
    margin-right: 50px;
    position: absolute;
    border: 10px var(--sred) solid;
    border-radius: 50%;
    box-shadow: 2px 3px 5px #ffff;
}


